@{
  Layout = "_Layout";
}

<h1>Welcome Claire!</h1>
<h2>Easily manage your stylists and clients</h2>
<a href='/Stylists/Index'><button type="button" class="btn btn-secondary" style="width:150px">See all your Stylists</button></a><br><br>
<a href='/Clients/Index'><button type="button" class="btn btn-secondary" style="width:150px">See all your Clients</button></a>
